@media screen and (min-width:900px) {
    .body {
        margin: 0;
        padding: 0;
        display: flex;
        background-color: #333;
    }

    .sideBar {
        width: 15vw;
        height: 87vh;
        margin: 0;
        float: left;
        background-color: #333;
        color: white;
        font-size: 15pt;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
    
    .sideBar a {
        text-decoration-line: none;
        color: white;
    }

    .sideBar input {
        width: 70%;
        margin: 0;
        margin-left: 3px;
        display: inline-flex;
    }

    .sideBar button {
        text-align: center;
        width: 20%;
        margin: 0; 
        margin-right: 3px;
    }

    .sideBar ul {
        list-style-type: none;
        padding: 0;
    }


    .sideBar li {
        margin: 20px 0;
    }

    .container {
        width: 82vw;
        height: 87vh;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        background-color: gray;
        justify-content: space-around;
    }

    .userboxTwo {
        width: 49%;
        height: 98%;
        font-size: 15pt;
        background-color: lightgray;
    }

    .userboxTwo p {
        margin: 10px;
    }

    .userboxTwo span {
        margin: 10px;
    }

    .logbox {
        width: 90%;
        height: 80%;
        background-color: white;
        overflow-y: scroll;
        display: flex;
        margin: auto;
        margin-top:5%;
    }


    .userboxThree {
        width: 33%;
        height: 98%;
        font-size: 15pt;
        /*border: 2px solid black;*/
        background-color: lightgray;
    }

    .userboxThree p {
        margin: 10px;
    }

    .topBar {
        width: 97vw;
        height: 13vh;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        background-color: black;
        color: white;
        font-size: 20pt;
    }

    .topBar p {
        margin: 0;
        padding-left: 20px;
    }

    .topBar a {
        text-decoration-line: none;
        color: white;
    }
}

@media screen and (max-width: 899px) {
    .sideBar{
        display: none;
    }
}